
.header{
    margin: 2% auto;
    max-width: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    width: auto;
    text-align: center;
    margin-top: 0.6rem;
    font-family: Nunito;
}
.navbar{
    width: 35%;
    margin-right: -15%;
}
.navbar a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
    text-decoration: none;
}
.persAccount{
    width: 15%;
}
.persAccount button{
    margin: 2% auto 0 15%;
}
#logIn{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
    background-color: #ffffff;
    border: none;
}
#signUp{
    border-radius: 6px;
    border-color: white;
    padding: 12px 16px;
}
.greenBtn{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    background: #066F14;
    border-radius: 6px;
    border-color: white;
}
.hero-section{
    margin: 5% auto;
    background: url(../img/klipartz\ 5.png) no-repeat right;
    height: 45rem;
    width: 80%;
    max-width: 1440px;
}
.title-side{
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 100%;
}
.TitleOfSide{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 128%;
    color: #1A1A1A;
}
.learn{
    padding: 16px 32px;
    margin-top: 5%;
    display: block;
    float: right;
    width: 30%;
}
.aboutTitle{
    margin: 5% 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;

    /* or 26px */

    color: #4A4A4A;
}
.advantages{
    margin-top: 10%;
    margin-bottom: 3%;
}
.achievments{
    display: flex;
    justify-content: space-between;
}
.aboutAchv{
    display: flex;
    justify-content: space-between;
    margin: 0 4% 0 2%;
}
.numberAchv{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #001B04;
}
.sideAchv{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1A1A1A;
}
.plants{
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    width: 80%;
    max-width: 1440px;
}
.weHave p{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    width: 80%;
    color: #1A1A1A;
}
.weHave a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #4A4A4A;
}
/* .weHave{
    margin-left: 17%;
} */
.somePlantsImg img{
    padding: 22px 28px;
    background: #F0F1F6;
    border-radius: 4px;
    margin: 0 0.32rem;
}
/* .somePlantsImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
#aboutUs{
    margin: 6% auto;
    width: 80%;
    max-width: 1440px;
}
.aboutLyrs{
    margin: 0 auto;
}
.imgTitle img{
    margin: auto;
}
.themTitle{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    color: #1A1A1A;
}
.aboutText{    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4A4A4A;
}
.endAbout{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4A4A4A;
}
.sectTitle{  
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #066F14;
}
.readMore{
    padding: 16px 32px;
    margin-top: 6%;
}
.saleItem{
    width: auto;
    margin: 3% auto;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}
.saleItems{
    width: 20%;
    margin: auto;
}
.active{
    color: #066F14;
}
.OurBestProducts{
    margin: 10% auto;
    width: 95%;
    max-width: 1440px;
}
.itemsRow{
    justify-content: space-evenly; 
    margin: 4% auto;
}
.itemsRow item{
    display: flex;
    flex-direction: column;
    background-color: #F0EBE6;
    align-items: center;
}
.itemsRow a{
    text-align: center;
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    line-height: 1.5;
    /* identical to box height, or 117% */

    color: #1A1A1A;
}
.itemsRow img{
    width: auto;
    justify-content: center;
    margin: 5% 0 5% 0;
}
.View{
    padding: 16px 32px;
    margin: 3% auto;
    display: block;
}
.itemsRow p{
    float: left !important;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 3%;

    /* identical to box height, or 119% */
    margin: 5% 70% 0 0;
    color: #1A1A1A;
}
