
.header{
    margin-left: 10%;
    margin-top: 2%;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    width: 20%;
    text-align: center;
    margin-top: 0.6rem;
    font-family: Nunito;
}
.navbar{
    display: flexbox;
    width: 30%;
    float: right;
    margin-left: 5%;
}
.navbar a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
    text-decoration: none;
}
.persAccount{
    width: 15%;
    margin-left: 5%;
}
.persAccount button{
    margin: 2% auto 0 15%;
}
#logIn{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
    background-color: #ffffff;
    border: none;
}
#signUp{
    border-radius: 6px;
    border-color: white;
    padding: 12px 16px;
}
.greenBtn{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    background: #066F14;
    border-radius: 6px;
    border-color: white;
}
.hero-section{
    margin: 5% 15% 5% 15%;
    background: url(../img/klipartz\ 5.png) no-repeat right;
    height: 45rem;
}
.title-side{
    display: block;
}
.TitleOfSide{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 128%;
    color: #1A1A1A;

}
.learn{
    padding: 16px 32px;
    margin-top: 7%;
}
.advantages{
    margin-top: 10%;
    margin-bottom: 3%;
}
.achievments{
    display: flex;
    justify-content: space-around;
}
.aboutAchv{
    display: flex;
    justify-content: space-around;
}
.numberAchv{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #001B04;
}
.sideAchv{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1A1A1A;
}
.plants{
    display: flex;
    flex-direction: row;
}
.weHave p{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    width: auto;

    color: #1A1A1A;
}
.weHave a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #4A4A4A;
}
.weHave{
    margin-left: 15%;
}
.somePlantsImg img{
    padding: 22px 28px;
    background: #e3e4f1;
    border-radius: 4px;
}
.somePlantsImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
#aboutUs{
    margin: 6% 15% 5% 15%;
    display: flex;
}
.aboutLyrs{
    float: right;
    
}
.imgTitle img{
    float: right;
}
